<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script defer src="../backend/index.js"></script>
  <meta name="author" content="gr1_eq7" />
  <title>ScrumHelper</title>
</head>

<body>
  <%- include ../views/partials/header.ejs %>
  <div class="container mt-3">
    <div class="jumbotron">
      <h1 class="display-4">Welcome on ScrumHelper!</h1>
      <hr class="my-4">
      <p class="lead">ScrumHelper is a free tool to help you manage your projects.</p>
      <p class="lead">
        Create a project, add contributors and access to everything you need to use the Scrum methodology!
        ScrumHelper allows you to add issues to your projetc and link them to tasks, sprint and tests.
        Find your releases and documentation related to each of them easily!
      </p>
      <br>
      <h4>No account? Create one!</h4>
      <a class="btn btn-primary btn-lg" href="/signUp" role="button">Sign Up</a>
    </div>
  </div>
</body>

</html>