<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="author" content="gr1_eq7"/>
  <title><%=project.name%></title>
</head>
<body>
  <%- include ../views/partials/header.ejs %>
  
  <div class="row">
  <% include ./projectSidebar %>
    <div class="col-9">
      OVERVIEW PROJECT
    </div>
  </div>
</body>
</html>